/* CSS Document

Custom styles for The Fly Shop Theme

  - Blog
    - News Template
  - Author
    Travel Blog
  - Archive Template
	- Hero Section
	- Body Elements
	- Carousel
  - Comments
  - Survey Template
  - Cycle Plugin
  - Footer
  - Front Page
	- page.php
	- Blog
	- Basic Template
	- Schools Template
	- Staff Template
	- Travel Template
  - Gravity Forms
  - Events Template
	- Signature Template
	- Guide Service Template
	- Custom Template Styles
	- Universal Template Styles
	- Parallax Window
	- Content
	- Customizer Images
	- Forms
	- Menu
	- Modal
	- WP Admin Bar
	- Sidebar
	- Typography
	- Links
	- Rating Button
  - Gutenberg
  - Holiday Template
  - Survey || Poll
  - Scroll To ID
  - Modal
  - Templates
    - Travel Template With Blog
    - Blog Template
  - Widgets
  - Media Queries

*/
@charset "UTF-8";
@import 'dep/var';
body {
  height: 100% !important;
}
html {
  overflow:scroll !important;
}

/* Blog
----------------------------- **/
.outer {
  overflow: hidden;
  width: 100%;
}
.inner {
  position: relative;
  margin: 0;

  /* height: 1000px;*/
}

.w-angle-att-img img {
  display: block;
  text-align: center;
  margin: 1.618em auto;
}
.w-angle-att-img {
  text-align: center;
}
.w-angle-att p{
  text-align: center !important;
}
.womensanglebutton {
  background-color: var(--womens-pink);
  padding: .5em;
  width: 30%;
  margin: 0 auto 4em auto;
  text-align: center;
}
.womensanglebutton a {
  font-size: 1em;
  color: #000;
}
.womensanglebutton:hover {
  background-color: var(--womens-pink-hover);
}
.site-description,
#banner h3,
#banner h2,
#cta h2 {
  color: #f5f5f5;
}

/* Author
-------------------------------- */
/* Travel Blog */
#author-info {
  .row {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .author_posts {
    margin-top: 1em;
  }
}

/* Archive Template
-------------------------------- */
#archive-entry-styles.entry-content {
  font-weight: 400;
}
.event-datetimes .ee-event-datetimes-ul li {
  width: 100% !important;
}
.event-datetimes {
  color: #000000;
}
.archive.panel-body p,
.archive.panel-body h4,
.archive.panel-body ul li,
.archive.panel-body strong {
  color: #000000;
}
.btn.event-class {
  font-size: 1em;
  color: #000000;
  background-color: var(--womens-pink);
  padding: .5em;
  margin-bottom: .5em;
}
.btn.event-class:hover {
  background-color: var(--womens-pink-hover);
}
.espresso-venue-dv h4 strong,
.espresso-venue-dv h4 strong a {
  color: var(--womens-pink);
}
.espresso-venue-dv div span,
.espresso-venue-dv strong{
  color: #000000;
}
#more-attendee-copy-options-dv strong {
  color: #000000;
}
#spco-step-attendee_information-display-hdr span.spco-step-name {
  color: #000000;
}
.espresso-venue-dv p span.small-text strong, p.event-phone span.small-text strong, .luncheon-tickets strong {
  color: #000000;
}
.spco-step-arrow-dv {
  color: #000000;
}
.steps-2 {
  width: 38.5%;
}
td.event-header strong {
  color: #000000;
}
.pink-text {
  color: var(--womens-pink);
}
#tu-lunch-link {
  background-color: var(--womens-pink);
  border: none;
}
#tu-lunch-link:hover {
  background-color: var(--womens-pink-hover);
  border: none;
}
.line-item-desc-spn.smaller-text strong {
  color: #000000;
}
#spco-steps-display-dv .spco-step-display-dv {
  margin: 1.618em;
}
h4#spco-step-attendee_information-display-hdr.spco-steps-display-hdr {
  float: left;
}
#ee-single-page-checkout-dv h2#spco-steps-big-hdr.spco-steps-big-hdr {
  color: #000000;
}
.dashicons-plus:before {
  content: "\f132" !important;
  display: block;
}
.dashicons-minus:before {
  content: "\f460" !important;
  display: block;
}
.dashicons-post-trash:before,
.dashicons-trash:before {
  content: "\f182";
  display: block;
}
a.display-tckt-slctr-tkt-details.display-the-hidden.lt-grey-text.smaller-text,
a.hide-tckt-slctr-tkt-details.hide-the-displayed.lt-grey-text.smaller-text{
  font-weight: bold;
  color: var(--event-details);
}
a.cart-results-go-back-button.cart-results-button.button,
a.cart-results-register-button.cart-results-button.button,
a.cart-results-go-back-button.cart-results-button.button,
a.cart-results-view-cart-lnk.view-cart-lnk.cart-results-button.button,
a.cart-results-go-back-button.cart-results-button.button {
  background-color: var(--womens-pink);
  border: none;
}
.event-cart-update-buttons .event-cart-add-ticket-button.event-cart-button.event-cart-icon-button.button,
.event-cart-update-buttons .event-cart-remove-ticket-button.event-cart-button.event-cart-icon-button.button,
.event-cart-update-buttons .event-cart-delete-ticket-button.event-cart-button.event-cart-icon-button.button,
.event-cart-grand-total .smaller-text .event-cart-empty-cart-lnk.empty-cart-lnk.event-cart-button.button,
.event-cart-grand-total .event-cart-update-cart-lnk.update-cart-lnk.event-cart-button.button,
.event-cart-whats-next-buttons .event-cart-go-back-button.event-cart-button.button,
.event-cart-whats-next-buttons .event-cart-register-button.event-cart-button.button,
#spco-attendee_information-whats-next-buttons-dv .return-to-event-cart-mini-cart-lnk.mini-cart-view-cart-lnk.view-cart-lnk.mini-cart-button.hide-me-after-successful-payment-js.button,
#spco-go-to-step-finalize_registration-submit.spco-next-step-btn.button.button-primary.button-lg,
input.ticket-selector-submit-btn.view-details-btn {
  background-color: var(--womens-pink);
  border: none;
}
input.ticket-selector-submit-btn.view-details-btn{
  float: none;
}
.text-center.btn.signature.btn-primary.btn-lg {
  color: #000000;
}
a.cart-results-go-back-button.cart-results-button.button:hover,
a.cart-results-register-button.cart-results-button.button:hover,
a.cart-results-go-back-button.cart-results-button.button:hover,
a.cart-results-view-cart-lnk.view-cart-lnk.cart-results-button.button:hover,
.event-cart-grand-total .smaller-text .event-cart-empty-cart-lnk.empty-cart-lnk.event-cart-button.button:hover,
.event-cart-grand-total .event-cart-update-cart-lnk.update-cart-lnk.event-cart-button.button:hover,
.event-cart-whats-next-buttons .event-cart-go-back-button.event-cart-button.button:hover,
.event-cart-whats-next-buttons .event-cart-register-button.event-cart-button.button:hover,
#spco-attendee_information-whats-next-buttons-dv .return-to-event-cart-mini-cart-lnk.mini-cart-view-cart-lnk.view-cart-lnk.mini-cart-button.hide-me-after-successful-payment-js.button:hover,
#spco-go-to-step-finalize_registration-submit.spco-next-step-btn.button.button-primary.button-lg:hover,
input.ticket-selector-submit-btn.view-details-btn:hover {
  background-color: var(--womens-pink-hover);
  border: none;
}
.add-to-ical {
  display: inline;
}
#ee-event-datetimes-ul-5743 #ee-event-datetimes-li-1 {
  float: none;
}
.download-iCal-frm {
  display: inherit !important;
  margin: 0 !important;
}
#download-iCal-frm-1 .ee-ical-sbmt,
#download-iCal-frm-1 .ee-ical-sbmt input[type="submit"],
#download-iCal-frm-2 .ee-ical-sbmt,
#download-iCal-frm-2 .ee-ical-sbmt input[type="submit"],
#download-iCal-frm-3 .ee-ical-sbmt,
#download-iCal-frm-3 .ee-ical-sbmt input[type="submit"],
#download-iCal-frm-4 .ee-ical-sbmt,
#download-iCal-frm-4 .ee-ical-sbmt input[type="submit"]{
  padding: 0 !important;
  margin-right: .5em;
  margin-top: -5px;
  background: transparent;
  box-shadow: none;
}
.svg-inline--fa.fa-hand-point-left.fa-w-16.fa-3x,
.svg-inline--fa.fa-hand-point-right.fa-w-16.fa-3x {
  color: var(--womens-pink);
}
.svg-inline--fa.fa-hand-point-left.fa-w-16.fa-3x {
  margin-right: 4em;
}
.svg-inline--fa.fa-hand-point-right.fa-w-16.fa-3x {
  margin-left: 4em;
}
.panel.panel-default.the-womens-angle .panel-body {
  display: flex;
}
.archive.panel-body {
  padding: 2em;
  border-radius: 0;
}
.archive.panel.panel-default {
  margin: 2em auto 0;
  border-radius: 0px;
}
.archive-template {
  padding: 1.618em;
}
.archive.content-area {
  margin-top: 3em;
}
.event-phone .small-text,
.event-phone span{
  font-size: 1.2em;
}
h1.archive-title {
  margin: 0;
}
.archive.content-area.row {
  margin-top: 5em;
}
.espresso_events .espresso-event-list-wrapper-dv .event-tickets form .tkt-slctr-tbl-wrap-dv .ticket-selector-submit-btn-wrap,
.espresso_events .entry-content .event-tickets form .tkt-slctr-tbl-wrap-dv .ticket-selector-submit-btn-wrap {
  background-color: var(--womens-pink);
}
.espresso_events .espresso-event-list-wrapper-dv .event-tickets form .tkt-slctr-tbl-wrap-dv .ticket-selector-submit-btn-wrap input[type="submit"],
.espresso_events .entry-content .event-tickets form .tkt-slctr-tbl-wrap-dv .ticket-selector-submit-btn-wrap input[type="submit"] {
  box-shadow: none;
  background-color: var(--womens-pink);
}
.espresso_events .espresso-event-list-wrapper-dv .event-tickets form .tkt-slctr-tbl-wrap-dv .ticket-selector-submit-btn-wrap input[type="submit"]:hover,
.espresso_events .entry-content .event-tickets form .tkt-slctr-tbl-wrap-dv .ticket-selector-submit-btn-wrap input[type="submit"]:hover {
  box-shadow: none;
  background-color: var(--womens-pink-hover);
  -webkit-transition: background-color .8s ease-out;
  -moz-transition: background-color .8s ease-out;
  -o-transition: background-color .8s ease-out;
  transition: background-color .8s ease-out;
}
#espresso-thank-you-page-overview-dv .ee-attention .extra-padding-sides h3 {
  color: var(--black) !important;
}

.tckt-slctr-tkt-details-sctn h4,
.tckt-slctr-tkt-details-sctn h5{
  color: var(--black);
}

/* Hero Section
-------------------------------- */
.inner img {
  padding-bottom: 1em;
}

/* Body Elements
-------------------------------- */
.height-100-percent {
  height: 100%;
}
.height-500-px {
  height: 500px;
}

p.template-description {
  margin-bottom: 1em;
}
/* Carousel
-------------------------------- */
.carousel-control .fa-4x {
  padding-top: 50%;
}

.svg-inline--fa .fa-chevron-left .fa-w-10 .fa-4x,
.svg-inline--fa .fa-chevron-right .fa-w-10 .fa-4x {
  position: absolute;
  left: 20px;
  top: 50%;
  transform: translateY(-50%);
}

#slider-text{
  padding-top: 40px;
  display: block;
}
#slider-text .col-md-6{
  /*overflow: hidden; */
}

#slider-text h2 {
  font-family: 'Josefin Sans', sans-serif;
  font-weight: 400;
  font-size: 30px;
  letter-spacing: 3px;
  margin: 30px auto;
  padding-left: 40px;
}
#slider-text h2::after{
  border-top: 2px solid #c7c7c7;
  content: "";
  position: absolute;
  bottom: 35px;
  width: 100%;
}

#itemslider {
  margin: 10px auto 35px;
}

#slider-control img{
  padding-top: 60%;
  margin: 0 auto;
}
@media screen and (max-width: 992px){
  #slider-control img {
    padding-top: 70px;
    margin: 0 auto;
  }
}
.carousel-showallmove1 .carousel-control {
  width: 4%;
  background-image: none;
}
.carousel-showallmove1 .carousel-control.left {
  margin-left: 0px;
}
.carousel-showallmove1 .carousel-control.right {
  margin-right: 0px;
}
.carousel-showallmove1 .cloneditem-1,
.carousel-showallmove1 .cloneditem-2,
.carousel-showallmove1 .cloneditem-3,
.carousel-showallmove1 .cloneditem-4,
.carousel-showallmove1 .cloneditem-5 {
  display: none;
}
@media all and (min-width: 768px) {
  .carousel-showallmove1 .carousel-inner > .active.left,
  .carousel-showallmove1 .carousel-inner > .prev {
    left: -50%;
  }
  .carousel-showallmove1 .carousel-inner > .active.right,
  .carousel-showallmove1 .carousel-inner > .next {
    left: 50%;
  }
  .carousel-showallmove1 .carousel-inner > .left,
  .carousel-showallmove1 .carousel-inner > .prev.right,
  .carousel-showallmove1 .carousel-inner > .active {
    left: 0;
  }
  .carousel-showallmove1 .carousel-inner .cloneditem-1 {
    display: block;
  }
}
@media all and (min-width: 768px) and (transform-3d), all and (min-width: 768px) and (-webkit-transform-3d) {
  .carousel-showallmove1 .carousel-inner > .item.active.right,
  .carousel-showallmove1 .carousel-inner > .item.next {
    -webkit-transform: translate3d(50%, 0, 0);
    transform: translate3d(50%, 0, 0);
    left: 0;
  }
  .carousel-showallmove1 .carousel-inner > .item.active.left,
  .carousel-showallmove1 .carousel-inner > .item.prev {
    -webkit-transform: translate3d(-50%, 0, 0);
    transform: translate3d(-50%, 0, 0);
    left: 0;
  }
  .carousel-showallmove1 .carousel-inner > .item.left,
  .carousel-showallmove1 .carousel-inner > .item.prev.right,
  .carousel-showallmove1 .carousel-inner > .item.active {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
    left: 0;
  }
}
@media all and (min-width: 992px) {
  .carousel-showallmove1 .carousel-inner > .active.left,
  .carousel-showallmove1 .carousel-inner > .prev {
    left: -16.666%;
  }
  .carousel-showallmove1 .carousel-inner > .active.right,
  .carousel-showallmove1 .carousel-inner > .next {
    left: 16.666%;
  }
  .carousel-showallmove1 .carousel-inner > .left,
  .carousel-showallmove1 .carousel-inner > .prev.right,
  .carousel-showallmove1 .carousel-inner > .active {
    left: 0;
  }
  .carousel-showallmove1 .carousel-inner .cloneditem-2,
  .carousel-showallmove1 .carousel-inner .cloneditem-3,
  .carousel-showallmove1 .carousel-inner .cloneditem-4,
  .carousel-showallmove1 .carousel-inner .cloneditem-5,
  .carousel-showallmove1 .carousel-inner .cloneditem-6  {
    display: block;
  }
}
@media all and (min-width: 992px) and (transform-3d), all and (min-width: 992px) and (-webkit-transform-3d) {
  .carousel-showallmove1 .carousel-inner > .item.active.right,
  .carousel-showallmove1 .carousel-inner > .item.next {
    -webkit-transform: translate3d(16.666%, 0, 0);
    transform: translate3d(16.666%, 0, 0);
    left: 0;
  }
  .carousel-showallmove1 .carousel-inner > .item.active.left,
  .carousel-showallmove1 .carousel-inner > .item.prev {
    -webkit-transform: translate3d(-16.666%, 0, 0);
    transform: translate3d(-16.666%, 0, 0);
    left: 0;
  }
  .carousel-showallmove1 .carousel-inner > .item.left,
  .carousel-showallmove1 .carousel-inner > .item.prev.right,
  .carousel-showallmove1 .carousel-inner > .item.active {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
    left: 0;
  }
}
/* Comments
-------------------------------- */

/* Survey Template*/
#survey.comments-container {
  .comments-box .comments-area.row {
    padding: 1em;
    background-color: rgba(144, 144, 144, 0.25)
  }
}

/* Cycle Plugin
-------------------------------- */
#s3 {
  width: 800px !important;
  .dd-2, .dd-4, .cycle.template.more {
    background-color: transparent !important;
    width: 800px !important;
  }
  a {
    color: var(--dark-white);
    text-decoration: none;
  }
}

/* Footer
-------------------------------- */
#footer h2 {
  color: #f5f5f5;
}
#social-footer a {
  text-decoration: none;
}

/* Front Page
-------------------------------- */

#blog-feed-fp-top {

  h2 {
    color: var(--white);
  }
  h3 {
    margin-bottom: 0;
  }
  p, .media-body {
    color:var(--white);
    font: inherit;
    height: auto;
    font-size: 100%;
    line-height: initial;
    letter-spacing: 0.075em;
    margin-top: 1rem;
  }
  a, a:hover, h3:hover {
    color: var(--red);
  }
  .media-body {
    color:var(--white);
    text-align: left;
  }
  .media .media-left img {
    width: 100%;
    height: 250px;
    display: block;
    object-fit: cover;
  }
  .newscta {
    text-align:center;
    overflow: hidden;
  }
}

#main {
  .archive.content-area.row .col-md-4 article {
    min-height: 670px;
  }
  .archive.content-area.row.display-flex {
    display: flex;
    flex-wrap: wrap;
  }
  .row.display-flex > [class*='col-'] {
    display: flex;
    flex-direction: column;
  }
  .blog-well.well {
    background-color: var(--tfs-orange);
    border: none;
    box-shadow: none;
    min-height: 500px;
    .row {
      margin-bottom: 6rem;
    }
    h2 {
      text-align: center;
      font-size: 2.168rem;
    }
    h3 {
      color: var(--white);
    }
    .inner-wrap a.post-permalink {
      text-decoration: none;
    }
    .inner-wrap a h3 {
      font-size: 1.5rem;
      margin: 0 0 0 0;
    }
    p {
      color: var(--white);
    }
    img {
      max-width: 100%;
      height: 250px;
      object-fit: cover;
    }
    hr {
      border-bottom: solid 2px var(--dark-gray);
      width: 70%;
      margin: 0 auto 1.618em auto;
    }
    .col-md-6 .inner-wrap {
      background-color: var(--dark-gray);
      padding: 1em;
    }
    .read-more-link, a.read-more-link,
    article > a.read-more-link {
      color: var(--red);
    }
    .entry-content {
      font-size: 1.1rem;
    }
  }
  .read-more-link, a.read-more-link,
  article > a.read-more-link {
    color: var(--red);
  }
}

.archive-image {
  width: 100%;
  height: 200px;
  object-fit: cover;
}

/* page.php
-------------------------------- */
.basic-page h1 {
  color: #f5f5f5;
}

/* Blog
-------------------------------- */
.avatar{
  margin-top: 5px;
}

.blog-header-h1 {
  font-size: 8rem;
  font-size: 7vw;
  line-height: normal;
  margin: 0 0 .1em 0;
  color: #f5f5f5;
}

.blog-header-h1 small {
  font-size: 5rem;
  font-size: 3vw;
  line-height: normal;
  margin: 0;
  color: #f5f5f5;
}

.blog-wrapper {
  padding: 3em;
  background-color: whitesmoke;
  margin: 0 -15px;
}
h2.comments-title {
  color: #2e3842;
}
h4.heading {
  color: #2e3842;
}
.bloglogo h1 {
  text-transform: uppercase;
  font-size: 5rem;
  color: #f5f5f5;
}
/* Basic Template
-------------------------------- */
#basic-content ul li {
  margin: .5em 0;
}
#basic-content strong {
  color: #2e3842;
}
/* .8em(12.8px) @ 48em(768px) increasing to 1em(16px) @ 62em(992px) */
@media (min-width: 48em) {
  #basic-content ul li {
    font-size: calc(1.4rem + ((1vw - 0.48em) * 1.4286));
    /* Where: * 1.4286 = 100 * font_Size_Difference / viewport_Width_Difference */
  }
  .mobileonly {
    display:none;
  }
}
/* Prevent font scaling beyond this breakpoint */
@media (min-width: 62em) {
  #basic-content ul li {
    font-size: 1em;
  }
}
@media (max-width: 48em) {
  #basic-content ul {
    margin-top: -19px;
  }
  #basic-content ul li {
    margin: 1.2em 0;
  }
}

@media (max-width: 46em) {

}

header.page-header {
  margin: 0;
}

.basic-blog-header {
  box-sizing: border-box;
  min-height: 40vh;
  -webkit-transform-style: inherit;
  transform-style: inherit;
  width: 100vw;
}

.basic-page-header {
  box-sizing: border-box;
  margin-bottom: -3em;
  min-height: 40vw;
  -webkit-transform-style: inherit;
  transform-style: inherit;
  width: 100vw;
}

.blog-header-content {
  position: absolute;
  z-index: 1;
  top:23%;
  width: 100vw;
  min-height: 40vh;
}

.page-header-content {
  position: absolute;
  z-index: 1;
  top: 40%;
  width: 100vw;
  min-height: 40vh;
}

.basic-page-header,
.basic-page-header:before { background: 50% 50% / cover; }

.basic-page-header::before {
  bottom: 0;
  content: "";
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  display: block;
  background-color: #8a8;
  /*  background-image: url(background.jpg);*/
  background-size: cover;
  -webkit-transform-origin: center center 0;
  -webkit-transform: translateZ(-1px) scale(2);
  transform-origin: center center 0;
  transform: translateZ(-1px) scale(2);
  z-index: -1;
  min-height: 100vh;
}
.basicpagelogo h1 {
  text-transform: uppercase;
  font-size: 5rem;
  color: #f5f5f5;
}

#basicpage img {
  margin-bottom: .6em;
}

#basicpage h2, #basicpage p {
  margin-bottom: .7em;
}

#basicpage h2, #basicpage h3, #basicpage p {
  color: #f5f5f5;
}

/* Staff Template
-------------------------------- */
.staff_bg_color {
  margin-top: 1.618em;
}
/* Travel Template
------------------------------- */
#two-325 {
  padding-bottom: 4.618em;
}
#two-325 .container.hook {
  padding-top: 2em;
  padding-bottom: 2em;
}
#two-325 .container p {
  margin-top: 0;
  margin-bottom: 0;
}
.header-img {
  position: relative;
}
.hidebasic, .hidehilo {
  display: none;
}

.hide-beat1,
.hide-beat2,
.hide-beat3,
.hide-beat4,
.hide-beat5,
.hide-beat6 {
  display:none;
}

#travelmodal-table .table-travel tr td {
  color: #000;
}
#travelmodal-table strong {
  color: #000;
}

#travelmodal-table {
  margin-top: 4em;
}
.table-travel.table > tbody > tr > td {
  border-top: none;
}
.table-travel.table tbody tr {
  border: none;
}
.table-header.modal-header {
  border-bottom: none;
}

.table-bg-img {
  /*background: url("images/back-opacity-logo.png") no-repeat;*/
  background-color: #d8d8d8;
  background-size: contain;
  background-position: right;
}

.table-btn.btn {
  width: 100%;
}

.table-h4 .arrow-down {
  color: #bdbdbd;
  font-family: "FontAwesome";
  float: none;
  position: relative;
  font-size: 12pt;
}
.table-h4 .arrow-down:after {
  content: "\f054";
}
.btn-transparent {
  background-color: transparent;
  border: none;
}
.btn-transparent:hover {
  border: none;
}
.btn.btn-transparent:focus, .btn.btn-transparent:active:focus, .btn.btn-transparent:active.focus, .btn.btn-transparent.active:focus, .btn.btn-transparent.active.focus, .btn.btn-transparent.focus {
  outline: 0px auto -webkit-focus-ring-color;
  outline-offset: -2px; }

.btn.btn-transparent:active, .btn.btn-transparent.active {
  outline: 0;
  background-image: none;
  -webkit-box-shadow: none;
  box-shadow: none; }

.table-btn.btn h4 {
  padding: 0;
  margin: 0;
  line-height: 2em;
  font-size: 1.2em;
}
.modal-body-content {
  padding: 1em;
  background-color: rgba(144, 144, 144, 0.25);
}
.modal-body-content:hover {
  background-color: #f5f5f5;
}
.modal-body-content p {
  margin: 0 0 .3em 0;
}
.table-btn.btn.btn-transparent {
  white-space: normal;
}
/* Gravity Forms
-------------------------------- */
.ginput_container.ginput_container_phone > input.medium {
  border: none;
}
.gform_wrapper .gform_footer {
  padding: 16px 0 10px 0.5em !important;
}
/* Events Template
-------------------------------- */
h2.logo-tel {
  color: #f5f5f5;
}
/* Signature Template
-------------------------------- */
.signature-header h3 {
  color: #f5f5f5;
}
.img-responsive-width-100 {
  width: 100%;
  height: auto;
}
/* Guide Service Template
-------------------------------- */
.hide-guidebeat1,
.hide-guidebeat2,
.hide-guidebeat3,
.hide-guidebeat4,
.hide-guidebeat5,
.hide-guidebeat6 {
  display:none;
}
/* Schools Template
-------------------------------- */
.hide-schbeat1,
.hide-schbeat2,
.hide-schbeat3,
.hide-schbeat4,
.hide-schbeat5,
.hide-schbeat6 {
  display:none;
}
/* Fish Camp
-------------------------------- */
.hide-fcbeat1,
.hide-fcbeat2,
.hide-fcbeat3,
.hide-fcbeat4,
.hide-fcbeat5,
.hide-fcbeat6 {
  display:none;
}
/* Custom Template Styles
-------------------------------- */
.setthehook-img {
  padding: 2.500em 0 0;
}
#two-325.wrapper {
  padding-bottom: 1.618em;
  padding-top: 3.618em
}
#two-325.wrapper.style1 h2 {
  padding-bottom: 0em;
  margin-bottom: .5em !important;
}
.setthehook h2 {
  font-size: 1.555em;
  text-align: center;
}
.row-flex,
.row-flex-sth-title {
  display: flex;
  align-items: center;
}
.setthehook1.spotlight {
  margin-top: 1.618em;
}
#setthehook-title.col-md-4.col-md-offset-2 {
  padding-left: 0px;
}
.additional-listing {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
}
/* Universal Template Styles
-------------------------------- */
.landing-hd .dd-1 {
  padding-top: 0
}
.landing-hd .dd-2 {
  padding-top: 0
}
.landing-hd .dd-3 {
  padding-top: .6em;
}
.landing-hd .dd-4 {
  padding-top: .8em;
}
h2.logo-tel {
  margin-bottom: 0;
  font-size: 2rem;
}
.logo-tel a, .logo-tel a:hover {
  color: #f5f5f5;
}
.template-header{
  position: relative;
}
.template-header-content {
  z-index: 99;
  position: absolute;
  width:100%;
  top: 50%;
  bottom: 50%;
  transition: 0.5s;
}
.img-responsive-logo {
  display: block;
  max-width: 100%;
  height: auto;
  margin-left: auto;
  margin-right: auto;
}

.dd-1 .img-responsive-logo {
  max-width: 40vw;
}


/* Parallax Window
-------------------------------- */
.stafflogo h1{
  font-size: 7rem;
  color: #f5f5f5;
}
.stafflogo img {
  margin: 0 auto;
  height: auto;
}
.parallax-window {
  min-height: 650px;
}
.parallax-content, .parallax-content h1 {
  width: 100%;
  padding: 0px 20px;
  margin: 0 auto;
  text-align:center;
}
.center-content-flex {
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.5s;
}
/* Content
-------------------------------- */
footer#footer {
  margin: 0 -15px;
}
.page img {
  margin: 0 auto;
  height: auto;
}

header.text-center {
  background-color: rgba(29, 36, 42, 0.9);
  padding: 1.618em;
}

header.text-center h2 {
  padding-top: 1.28em;
}
.caption h2 {
  color: #f5f5f5 !important;
}

#page-wrapper,
#page-wrapper-front-page,
#page-wrapper-stream-report,
#page-wrapper-travel,
#page-wrapper-guide-service,
#page-wrapper-private-waters,
#page-wrapper-schools,
#page-wrapper-fish-camp {
  margin: 0 -15px 0;
}

.ext-padding-1618 {
  padding: 1.618em;
}

.dark-htag h1, .dark-htag h2, .dark-htag h3, .dark-htag h4, .dark-htag h5 {
  color: #2E3842;
}

input#exampleInputEmail2.form-control.removeglow {
  border-radius: 0;
}

button.btn-md.btn.background-color-tfs-red.font-color-white.opacity-7 {
  height: 2.75em;
  border-radius: 0;
}

div.well.well-sm.text-center.no-margin-bottom {
  border: none;
  border-radius: 0;
}

.rivers-background {
  background-image: url(../../images/stream-report/stream-report2000x150.jpg);
  background-repeat: no-repeat;
  max-width: 100%;
  height: 150px;
  background-size: contain;
  /*overflow: hidden;*/
}
.additional-img.modal-dialog {
  margin-top: 9em;
}
.modal-content {
  padding: 1em;
}
.modal-body p, strong h3 {
  color: #2e3842;
}
address strong {
  color: #f5f5f5;
}
.report-panel {
  padding: 1.618em;
}
.display-inline-block {
  display: inline-block;
}

.blog-lead {
  color: #f5f5f5;
  font-size: 1.2em;
}
.blog-form input[type="text"], .blog-form input[type="password"], .blog-form input[type="email"], .blog-form select, .blog-form textarea, .blog-form label {
  color: #f5f5f5;
}
.bg-color-tfs-orange {
  background-color: #144152;
}
.text-shadow {
  text-shadow: 1px 2px 2px #000;
}
.removeglow {
  outline: none;
  border: none !important;
  -webkit-box-shadow: none !important;
  -moz-box-shadow: none !important;
  box-shadow: none !important;
}
.background-color-tfs-red {
  background-color: #a01624;
}
.font-color-white {
  color: #f5f5f5;
}
.btn.font-color-white:hover {
  color: #f5f5f5;
}
#pop-over-fp h3.popover-title{
  color: #000;
}
a:hover.featuredreport {
  opacity: .5;
}
.first.column {
  padding: 0 1.618em 0 0;
}
.column {
  padding: 0 1.618em 0 0;
}
.wide {
  clear: both;
}
.first.last.column {
  float: none !important;
}

/* Customizer Images
-------------------------------- */

/* Forms
-------------------------------- */
.ginput_container label {
  text-indent: 20px;
}
.gform_wrapper h3.gform_title {
  color: inherit;
}

input#exampleInputEmail2.form-control.removeglow {
  color: #f5f5f5;
}

#gform_2 > .gform_heading > .gform_title {
  color:#2e3842;
}

#input_1_3 {
  background-color: rgba(144, 144, 144, 0.25);
}

.contacttfs .gform_title {
  display: none;
}

.well.well-sm.text-center.no-margin-bottom {
  padding: 1em 1.618em 1.618em;
}

input.search-submit {
  color:#2e3842;
  background-color: brown;
}

input.search-submit:hover {
  background-color: #844421;
}

.gform_wrapper .gfield_checkbox li label {
  color: #000;
}

/* Menu
-------------------------------- */
nav#nav {
  background-color: #2e3842;
}

.menu-title {
  font-weight: 700;
}
#menu li ul {
  opacity: 0;
  height: 0;
  padding: 0.5em 0 0 0;
  /*overflow: hidden;*/
  transition: all 1s ease .15s;
  -webkit-transition: all 1s ease .15s;
  -moz-transition: all 1s ease .15s;
  -o-transition: all 1s ease .15s;
  -ms-transition: all 1s ease .15s;
}
#menu li:hover ul {
  opacity: 1;
  height: auto;
  padding: 0.5em 0 0 0;
  margin: 0 0 0 1em;
}
.panel-heading.accordion-toggle .arrow-down:after {
  content: "\f078";
}
.arrow-down:after > .panel-collapse.collapse.in {
  content: "\f078" !important;
}
.arrow-down {
  font-family: "FontAwesome";
  float: none;
  position: relative;
  font-size: 12pt;
  color: grey;
}
.panel-heading.accordion-toggle.collapsed .arrow-down:after {
  content: "\f054";
}
.panel-heading:hover {
  cursor: pointer;
}
.collapsed .readmore-info {
  display: block;
}
.readmore-info {
  font-size: 12px;
  color: #ccc;
  font-weight: 500;
  font-style: italic;
  display: flex;
  margin-top: 1em;
  display: none;
}

/* Scroll To ID
-------------------------------- */
.scrollto a {
  color: #f5f5f5 !important;
  text-decoration: none;

  & :hover {
    color: #f5f5f5;
    text-decoration: none;
  }
}
.scrollto {
  z-index: 100;
  top: 60%;
  text-align: center;
  width: 100%;
  margin-top: 10em;
}
.template.more:after {
  background-image: url("images/arrow.svg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  content: '';
  display: block;
  height: 1.5em;
  left: 50%;
  margin: 0 0 0 -0.75em;
  position: absolute;
  width: 1.5em;
}

/* Animation */
/*.scrollto.animated.animatedFadeInUp.fadeInUp {
  -moz-transition: -moz-transform 0.75s ease, opacity 0.75s ease;
  -webkit-transition: -webkit-transform 0.75s ease, opacity 0.75s ease;
  -ms-transition: -ms-transform 0.75s ease, opacity 0.75s ease;
  transition: transform 0.75s ease, opacity 0.75s ease;
  -moz-transition-delay: 3.5s;
  -webkit-transition-delay: 3.5s;
  -ms-transition-delay: 3.5s;
  transition-delay: 3.5s;
  -moz-transform: translateY(0);
  -webkit-transform: translateY(0);
  -ms-transform: translateY(0);
  transform: translateY(0);
  border: none;
  bottom: 0;
  color: inherit;
  font-size: 0.8em;
  height: 8.5em;
  left: 50%;
  letter-spacing: 0.225em;
  margin-left: -8.5em;
  opacity: 1;
  outline: 0;
  padding-left: 0.225em;
  position: absolute;
  text-align: center;
  text-transform: uppercase;
  width: 16em;
  z-index: 1;
}*/

@keyframes fadeInUp {
  from {
    transform: translate3d(0,40px,0)
  }

  to {
    transform: translate3d(0,0,0);
    opacity: 1
  }
}

@-webkit-keyframes fadeInUp {
  from {
    transform: translate3d(0,40px,0)
  }

  to {
    transform: translate3d(0,0,0);
    opacity: 1
  }
}

.animated {
  animation-duration: 3s;
  animation-delay: 2.5s;
  animation-fill-mode: both;
  -webkit-animation-duration: 3s;
  -webkit-animation-delay: 2.5s;
  -webkit-animation-fill-mode: both
}

.animatedFadeInUp {
  opacity: 0
}

.fadeInUp {
  opacity: 0;
  animation-name: fadeInUp;
  -webkit-animation-name: fadeInUp;
}
/* Modal
-------------------------------- */
button.close {
  font-size: 3em;
}
h4.modal-title {
  margin: .6em;
  font-size: 1.2em;
}

#myModal1, #myModal2, #myModal3, #myModal4, #myModal5,
#myModal6, #myModal7, #myModal8, #myModal9, #myModal10,
#myModal11, #myModal12, #myModal13, #myModal14, #myModal15,
#myModal16, #myModal17, #myModal18, #myModal19, #myModal20,
#myModal21, #myModal22, #myModal23, #myModal24, #myModal25 {
  /*overflow-y:scroll;*/
}
/* Rating Button
-------------------------------- */
.label-default-danger {
  background-color: #d9534f;
}

/* Typography
------------------------------- */
h1.entry-title {
  font-size: 2.618em;
  font-size: 4vw;
}
.entry-content h2 {
  color: #2E3842;
}
.w-angle-att h1.entry-title {
  margin: 1em 0 1em 0 !important;
}
.template-class p {
  letter-spacing: 0.225em;
  text-transform: uppercase;
  text-align: center;
  color: #f5f5f5;
}

p.template-description {
  text-align: center;
  color: #f5f5f5;
  margin-bottom: 0;
}

.template-class h3 {
  color: #f5f5f5;
}

#blogpage p {
  color: #f5f5f5;
}

/* WP Admin Bar
------------------------------- */
#wpadminbar {
  position: fixed;
}

/* Sidebar
------------------------------- */
h2.widget-title {
  color: #2e3842;
}

#survey-secondary.survey-widget-area {
  background-color: rgba(144, 144, 144, 0.25);
}

/* Modal
------------------------------- */
#modal-style .container-fluid .row .col-sm-12 p strong {
  color: #000;
}
#modal-style .container-fluid .row h4 strong {
  color: #000;
}
h3.popover-title {
  color: #000;
}

/* Gutenberg
------------------------------- */

/* Gallery - Catalog */
.entry-content .alignfull.online-catalog {
  justify-content: center;
  background: #000;
}
.online-catalog figcaption {
  background: transparent !important;
}

.entry-content .alignwide {
  margin-left  : -80px;
  margin-right : -80px;
}
.entry-content .alignfull {
  margin-left  : calc( -100vw / 2 + 100% / 2 );
  margin-right : calc( -100vw / 2 + 100% / 2 );
  max-width    : 100vw;
}
.alignfull img {
  width: 100vw;
}

/* Holiday Template
------------------------------- */
.blog-container {
  width: 100%;
}
.holiday_bg_color {
  background-color: var(--default-darkbg);
}

.holiday-text-color {
  h3.widget-title,
  .widget-section h4.widget-title,
  .widget-section .caption p {
    color: var(--white);
  }
}

.holiday-blog-container.blog-container {
  background-color: var(--white);
}

/* Survey || Poll
------------------------------- */
#survey-entry-styles.entry-content.panel-body {
  border: 20px solid var(--tfs-orange);
  background-color: var(--dark-white);
}

.entry-header.basic-page.survey-page.text-center {
  position: relative;
  padding: 0;
  .survey-logo {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 21.3vw;
  }
  .survey-feat-img {
    width: 100%;
    margin: 0 auto;
    display: block;
  }
}

#survey-author a {
  color: var(--red);
}

button.forminator-button {
  /* background-color: var(--red) !important;
   &:hover {
     background-color: var(--red-hover) !important;
   }*/
}

#survey-entry-styles > .forminator-poll.forminator-design--material .forminator-poll--question {
  font-size: 3rem !important;
  line-height: 37px !important;
}

.forminator-poll.forminator-design--material .forminator-poll--description {
  font-size: 1.2rem !important;
  line-height: 27px !important;
  margin-top: 0.618em !important;

}

.forminator-radio--label {
  font-size: 18px !important;
}

.forminator-poll.forminator-design--material .forminator-radio {
  margin-top: 1em !important;
  margin-bottom: 1em !important;
}

.survey-entry-meta {
  color: var(--white);
}
.survey-page h1.entry-title {
  margin: 0;
}
.entry-header.basic-page.survey-page.survey-page-no-feat-img.text-center {
  padding: 2em 1.618em;
}

.survey-title-cont-no-feat-image {
  margin: 0 auto;
}

.survey-title-cont-no-feat-image h1 {
  padding-bottom: .4em;
}

.survey-title-cont {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate( -50%, -50% );
}

#primary.survey-content-area.row{
  background-color: #2b343d;
  /*overflow: hidden;*/
  padding-left: 1em;
  padding-right: 1em;
  [class*="col-md-12"]{
    margin-bottom: -99999px;
    padding-bottom: 99999px;
  }
}

.survey-author.well {
  background-color: #f0cf4d;
  margin-bottom: 4.5em;
  border: none;
}

.container.survey-content {
  margin-top: 3em;
}

#survey-secondary .survey-sidebar .widget input[type="submit"],
#respond.comment-respond form input[type="submit"] {
  background-color: var(--btn-color);
  border-color: var(--btn-color);
  border-radius: 5px;
  box-shadow: inset 0 0 0 2px var(--btn-color);
  color: var(--white);
}

#survey-secondary .survey-sidebar .widget input[type="submit"]:hover,
#respond.comment-respond form input[type="submit"]:hover {
  background-color: var(--btn-hover-black);
  box-shadow: inset 0 0 0 2px var(--btn-hover-black);
}

.survey-default-template.hentry {
  margin-bottom: 0;
}

#default-entry-styles
.forminator-poll--question {
  font-size: 18px;
}

nav.navigation.post-navigation {

  .nav-links .polls.nav-previous,
  .nav-links .polls.nav-next {
    a {
      background-color: var(--polls-nav);
      color: var(--white);
      padding: .5em 1em;
      border-radius: 5px;
      display: flex;
    }
    a:hover {
      text-decoration: none;
    }
  }

  .polls.nav-next,
  .polls.nav-previous {
    color: var(--white);
    font-size: 1em;
    .fa-chevron-right,
    .fa-chevron-left {
      font-size: 1.5em;
    }
  }
}

.comments-container {
  width: 100%;
  padding: 2.618em;
}

.comments-box {
  margin: 0 auto;
}

#survey-entry-styles {
  form {
    padding: 2.618em;
  }
}
.survey-sidebar {
  padding-right: 1.618em;
}
/* Templates
------------------------------- */

/*Travel Template With Blog*/

.wrap .container {
  margin: 3.618em auto 1.618em;
}
#travel-feed-fp-top {
  #news-cta {
    /*background-color: var(--black);*/
    padding: 0 0 1.618em 0;
  }
  h2, h3 {
    color: var(--white);
  }
  h3 {
    margin-bottom: 0;
  }
  p, .media-body {
    color:var(--white);
    font: inherit;
    height: auto;
    font-size: 100%;
    line-height: initial;
    letter-spacing: 0.075em;
    margin-top: 1rem;
  }
  a, a:hover, h3:hover {
    color: var(--red);
  }
  .media-body {
    color:var(--white);
    text-align: left;
  }
  .media .media-left img {
    width: 100%;
    height: 250px;
    display: block;
    object-fit: cover;
  }
  .newscta {
    text-align:center;
    overflow:auto;
  }
}

/* Blog Template */

#blog-cta {
  margin: 1.618em 0;
  .blog.wrapper.style4 {
    width: 100%;
    .inner {
      width: 100%;
      .text-center h2 {
        color: #fff;
      }
    }
  }
  .blog .inner span.blog-cta-content {
    text-align: center;
  }
  .blog-cta-content {
    padding: 1.618em 0.5em 0 0.5em;
  }
  .wrapper {
    padding: 1em;
  }
}


/* Widgets
------------------------------- */
.outfitters-recent-post {
  margin-bottom: 1.618em;
}
.outfitters-recent-post .post-excerpt .read-more-link {
  color: var(--red);
}
.outfitters-recent-post img {
  max-width: 100%;
  height: auto;
}
.travel-recent-post {
  margin-bottom: 1.618em;
}
.travels-recent-post .post-excerpt .read-more-link {
  color: var(--red);
}
.travel-recent-post img {
  max-width: 100%;
  height: auto;
}
.posts-recent-post {
  margin-bottom: 1.618em;
}
.posts-recent-post .post-excerpt .read-more-link {
  color: var(--red);
}
.posts-recent-post img {
  max-width: 100%;
  height: auto;
}

.mx-auto {
  margin-top: 1.618rem;
}

[class*='mx-auto']:last-of-type:nth-child(odd) {
  margin-left: 25%;
}
/* Media Queries
------------------------------- */

/* Extra small devices (phones, less than 768px) */
/* No media query since this is the default in Bootstrap */

@media (max-width: 768px ) {
  .survey-template-container.panel.panel-default {
    margin: auto 1em;
  }
  .survey-sidebar {
    padding: 0 1em;
  }
  #author-avatar img {
    margin: 5px auto 0px auto;
    display: block;
  }

  #author-info {
    .row {
      display: inherit;
      align-items: center;
      justify-content: center;
    }

    .author_posts {
      margin-top: 1em;
    }
  }

}

/* Small devices (tablets, 768px and up) */
@media (min-width: 768px) {
  .survey-sidebar {
    padding: 0 1em;
  }
}

/* Medium devices (desktops, 992px and up) */
@media (min-width: 992px) { }

/* Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) { }


@media (max-width: 1366px) {

  .photo-box .image-wrap img {
    zoom: 48.555%;
  }

}

@media (max-width : 1080px) {

  .photo-box .image-wrap img {
    zoom: 35.555%;
  }

}

@media (max-width: 1024px) {
  .photo-box .image-wrap img {
    zoom: 33.555%;
  }

  #image {
    min-height: 600px;
  }


}

@media (max-width: 991px) {
  .setthehook1.spotlight,
  .setthehook2.spotlight,
  .setthehook3.spotlight,
  .setthehook4.spotlight,
  .setthehook5.spotlight,
  .setthehook6.spotlight {
    padding: 0 1.618em;
  }
  .row-flex-sth-title {
    display: block;
  }

  #author-avatar img {
    margin: 0 auto;
    display: block;
  }
  #survey-entry-styles > .forminator-poll.forminator-design--material .forminator-poll--question {
    font-size: 1.5rem !important;
    line-height: 37px !important;
  }

  .forminator-poll.forminator-design--material .forminator-poll--description {
    font-size: 1rem !important;
    line-height: 27px !important;
    margin-top: 0.618em !important;

  }
  #main .archive.content-area.row .col-md-4 article {
    min-height: auto;
  }
}

@media (max-width: 922px) {

  input#exampleInputEmail2.form-control {
    margin-bottom: 1em;
  }
  .photo-box .image-wrap img {
    zoom: 30.555%;
  }
}

@media (min-width: 970px) {
  #fp-well .row {
    display: flex;
    justify-content: center;
  }
}

@media (min-width: 600px) and (max-width: 800px) {

  .photo-box .image-wrap img {
    zoom: 48.555%;
  }

}

@media (max-width: 768px) {

  .photo-box .image-wrap img {
    zoom: 46.777%;
  }
  .additional-img.modal-dialog {
    margin-top: 6em;
  }
  .additional-img.modal.fade.travel-modal-lg.in {
    width: 58%;
    margin: 0 auto;
  }
  .carousel-indicators li {
    width: 08px;
    height: 08px;
  }
  .row-flex {
    display: block;
  }
  .row-flex.rev {
    display:flex;
    flex-direction:column-reverse;
  }

  #survey-entry-styles > .forminator-poll.forminator-design--material .forminator-poll--question {
    font-size: 1.5rem !important;
    line-height: 37px !important;
  }

  .forminator-poll.forminator-design--material .forminator-poll--description {
    font-size: 1rem !important;
    line-height: 27px !important;
    margin-top: 0.618em !important;

  }

}


@media (max-width: 1024px ) {

}

@media ( max-width: 834px ) {

}
@media ( max-width: 800px ) {

}
@media ( max-width: 768px ) {}

@media (max-width: 600px) {

  .photo-box .image-wrap img {
    zoom: 20.777%;
  }
  .basic-page-header {
    min-height: 26vh;
  }
}

@media (max-width: 446px) {

  .photo-box .image-wrap img {
    zoom: 17.777%;
  }

}

@media (max-width: 414px) {
  dl.landing-hd {
    margin-bottom: 0;
  }
  .landing-hd .dd-4 {
    padding-top: 0;
  }
  .landing-hd .img-responsive-logo {
    margin-bottom: -9px;
    margin-top: 10px;
  }
  h2.logo-tel {
    font-size: 1.3rem;
  }
  .forminator-poll--question {
    font-size: 2rem !important;
  }
}

@media (max-width: 320px) {
  .photo-box .image-wrap img {
    zoom: 13.777%;

    #image {
      min-height: 171px;
    }
  }

}

@import 'supports/variables';
@import 'supports/travel-blog';
@import 'supports/sidebars';
@import 'supports/outfitters-blog';
@import 'supports/new-blog-template';
@import 'supports/news-blog-template';
@import 'supports/front-page';
@import 'supports/taxonomy-archive';
@import 'supports/content';
@import 'supports/margin-padding';
@import 'supports/404';
@import 'supports/nav';
@import 'supports/search-results';
@import 'supports/forms';
@import 'supports/widgets';
@import 'supports/global';
@import 'supports/signature-templates';
@import 'supports/recaptcha';
@import 'supports/default-template';
@import 'supports/travel-template';
@import 'supports/hero-template';
@import 'supports/archive';
@import 'supports/buttons';
@import 'supports/pagination';
@import 'supports/ubermenu';
@import 'supports/hero-video';
@import "supports/bootstrap-mods";

