/** SCSS Default Template
============================== */


.default-template {
  .default-single {
    .site-main {

      #default-blog-hero-image {
        #outfitters-jumbotron:after {
          content: "";
          background: rgba(0, 0, 0, 0.2);
          position: absolute;
          z-index: 1;
          display: block;
          width: 100%;
          top: 0;
          bottom: 0;
        }


      }
    }
  }
}
