/* SCSS Margins Padding
-------------------------------- */

.mt-1618 {
  margin: 1.618em 0 0 0;
}
.mt-2618 {
  margin-top: 2.618em !important;
}
.mt-3618 {
  margin-top: 3.618em !important;
}
.mt-4618 {
  margin-top: 4.618em !important;
}
.mt-5618 {
  margin-top: 5.618em !important;
}
.mt-1 {
  margin-top: 1em;
}
.mt-05 {
  margin-top: 0.5em;
}
.mb-1618 {
  margin-bottom: 1.618em;
}
.mb-2618 {
  margin-bottom: 2.618em;
}
.pt-1618 {
  padding-top: 1.618em;
}
.pb-1618 {
  padding: 0 0 1.618em 0;
}
.pt-2618 {
  padding-top: 2.618em;
}
.pb-2618 {
  padding-bottom: 2.618em;
}
.no-margin-bottom {
  margin-bottom: 0 !important;
}
