/** News Blog Template
========================== */
@media(min-width: 992px) {
  .readmore-bg-img {
    height: 200px;
    position: relative;
    overflow: hidden;
    background-position: center;
    background-size: cover;
    border: 1px solid $tfs_dark;

    &:after {
      content: "";
      position: absolute;
      width: 100%;
      height: 100%;
      background: $tfs_dark;
      opacity: 0.4;
    }

    button {
      position: absolute;
      z-index: 5;
      top: 50%;
      left: 6%;
      transform: translate(-6%, -50%);
      -ms-transform: translate(-6%, -50%);
      background-color: #555;
      color: white;
      font-size: 16px;
      padding: 12px 24px;
      border: none;
      cursor: pointer;
      border-radius: 5px;

      h4 {
        color: $smoke;
        margin: 0;
        font-size: 1.2rem;
        font-size: 1.3vw;
        transition: 0.5s;
      }
    }
  }
}

#collapse-news-archive-one,
#collapse-news-archive-two,
#collapse-news-archive-three,
#collapse-news-archive-four {
    .well {
      background-color: $smoke;
      .row {
        display: flex;
        flex-wrap: wrap;
      }
      .row > [class*='col-'] {
        display: flex;
        flex-direction: column;
      }

    }
  }
.featured-caption {
  h3 {
    margin: 0 0 .3em 0;
  }
  p {
    margin: 0 0 .6em 0;
  }
  a {
    text-decoration: none;
  }
  p a {
    color: $tfsred;
    text-decoration: none;
  }
  .author-date.featured {
    .the-author {
      font-size: 1rem;
      margin: 0 .3em;
      font-weight: 800;
      color: $dark-grey;
    }
    .the-date {
      font-size: 1rem;
      margin: 0 .3em;
      font-weight: 800;
      color: $dark-grey;
    }
  }
}
.caption {
  a {
    text-decoration: none;
  }
  h4 {
    margin: 0 0 .5em 0;
  }
  p a {
    color: $tfsred;
    text-decoration: none;
  }
  .author-date {
      margin: 0 0 .5em 0;
    .the-author {
      font-size: 0.8rem;
      margin: 0 .3em;
      font-weight: 800;
      color: $dark-grey;
    }
    .the-date {
      font-size: 0.8rem;
      margin: 0;
      font-weight: 800;
      color: $dark-grey;
    }
  }
}
.newstemplate-description {
  color: $white;
  text-align: center;
  font-weight: 700;
}
#news-blog-hero-image {
  margin-left: -15px;
  margin-right: -15px;
}

.container-fluid.news-logo {
  img {
    margin: 2.618em ;
  }
}

#news-header {
  h1 {
    font-size: 2rem;
  }
  margin: 3.618em auto;
  .row {
    height: 400px;
  }
  .featured-news-image {
    height: 100%;
    .img-responsive.news-featured-image {
      width: 100%;
      object-fit: cover;
      height: 100%;
    }
  }
}

.container-fluid.featured-post {
  padding-left: 35px;
  padding-right: 35px;
  .panel.panel-default {
    border: none;
    background-color: transparent;
    box-shadow: none;
    .panel-body {
      .row {
        display: flex;
        align-items: center;
        .featured-caption {
          h1 {
            margin: 0 0 0.5em 0;
          }
        }
      }
    }
  }
}

#news-blog-template {
  .well {
    margin-top: 1.618em;
  }
  padding-bottom: 5.618em !important;
  .the-author {
    margin-right: 1.618em;
  }
  .panel.panel-default {
    background-color: transparent;
    border: none;
    box-shadow: none;
    /*margin-bottom: 2.618em;*/
    h2 {
      font-size: 1rem;
    }
    h3 {
      font-size: 1.8rem;
    }
  }
  .section-margin {
    margin: 5.618em 0 0 0;
  }
  .panel-body {
    background-color: transparent;
    border: none;
    padding: 0 15px;
    .row {
      align-items: center;
    }
  }
  .col-6 {
    width: 48%;
    display: inline-block;
    padding-left: 15px;
    padding-right: 15px;
    p {
      margin-bottom: 0;
    }
    p.author-date {
      margin: 0 0 1em 0;
    }
  }
}

/** News Template **/
.page-template-news-blog-template {
  .the-date {
    margin-left: 1em;
  }
  .container-fluid {
    #news-blog-hero-image {
      #outfitters-jumbotron:after {
        content: "";
        background: rgba(0, 0, 0, 0.2);
        position: absolute;
        z-index: 1;
        display: block;
        width: 100%;
        top: 0;
        bottom: 0;
      }
    }
  }
  .container-fluid.blog-posts {
    margin: 0 !important;
    padding-left: 0 !important;
    padding-right: 0 !important;
  }
  #news-blog-template {
    h2,h3,p {
      color: $tfs_dark;
    }
    .container-fluid {
      margin-left: -15px;
      margin-right: -15px;
      padding: 0;
    }

    img.img-responsive {
      height: 361px;
      width: 100%;
      object-fit: cover;
    }
  }
}

.row.news-blog-template-wrap {
  margin: 0 0.5em;
}
#news-blog-template.container-fluid {
  padding: 0;
  background-color: $white;
}
.more-btn.row {
  margin: 0 0 0 0 !important;
  button {
    width: 100%;
  }
  .col-lg-12 {
    margin: 1.618em 0 0;
    padding: 0;
  }
}

.thumbnail a {
  .img-responsive.collapse-grid {
    height: 200px !important;
    object-fit: cover;
  }
}

// Large devices (desktops, less than 1200px)
@media (max-width: 1199.98px) {
  .sidebar {
    margin-top: 2.618em;
  }
  #news-header {
    margin: 3.618em auto;
    .row {
      height: auto;
    }
    .featured-news-image {
      height: auto;
      .img-responsive.news-featured-image {
        width: 100%;
        object-fit: initial;
        height: auto;
      }
    }
  }
}

// Medium devices (tablets, less than 992px)
@media (max-width: 991.98px) {
  .container-fluid.featured-post {
    .panel.panel-default {
      .panel-body {
        .row {
          display: initial;
          align-items: initial;
          }
        }
      }
    }
  }


@media (max-width: 991.98px) {
  .readmore-bg-img {
    height: 200px;
    position: relative;
    overflow: hidden;
    background-position: center;
    background-size: cover;
    border: 1px solid $tfs_dark;

    &:after {
      content: "";
      position: absolute;
      width: 100%;
      height: 100%;
      background: $tfs_dark;
      opacity: 0.4;
    }

    button {
      position: absolute;
      z-index: 5;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
      background-color: #555;
      color: white;
      font-size: 16px;
      padding: 12px 24px;
      border: none;
      cursor: pointer;
      border-radius: 5px;

      h4 {
        color: $smoke;
        margin: 0;
        font-size: 1.2rem;
        font-size: 2vw;
        transition: 0.5s;
      }
    }
  }
}

@media (max-width: 767.98px) {}

@media (max-width: 575.98px) {}

