/** SCSS Search Results
------------------------------------------- */
.content-area.search-results {
  padding: $m1618;
}
.page-header.search-results {
  margin-top: $m2618;
  h1 {
    font-size: 2rem;
  }
}
.search-logo-wrap {
  background-color: $lightgrey;
  padding: $m1618;
  margin-bottom: $m2618;
}
