/* Sidebars
----------------------------------- */
.archive-sidebar {
  padding-bottom: 1.618em;
}
#outfitter-sidebar {
  margin-top: 1.5em;
  img {
    margin: 0 auto;
    display: block;
  }
}

#secondary {
  img {
    margin: 0 auto;
    display: block;
  }
}

#lower48-sidebar {
  margin-top: 1.5em;
  img {
    margin: 0 auto;
    display: block;
  }

}
