/* SCSS Variables
-------------------------- */
:root {
  --womens-pink: #f2526e;
  --womens-pink-hover: #F17A97;
  --black: #000000;
  --default-darkbg: #2b343d;
  --btn-color: #000000;
  --event-details: #6b6b6b;
  --polls-nav: #000000;
  --white: #ffffff;
  --dark-white: #f5f5f5;
  --btn-padding: 1em;
  --btn-hover-black: #292929;
  --red: #a01624;
  --red-hover: #CD1624;
  --tfs-orange: #d75301;
  --dark-gray: #2e3842;
}
/* Colors */
$white: #f5f5f5;
$black: #000000;
$tfsred: #a01624;
$grey: #ccc;
$dark-grey: #7F7E7A;
$lightgrey: #f5f5f5;
$smoke: #eeeeee;
$tfs_dark: #2b343d;

/* Margins Padding */
$m1: 1em;
$m1618: 1.618em;
$m2: 2em;
$m2618: 2.618em;
$m3: 3em;
$m3618: 3.618em;
$m5618em: 5.618em;

$p1: 1em;
$p1618: 1.618em;
$p2: 2em;
$p2618: 2.618em;
$p3: 3em;
$p3618: 3.618em;
$p4: 4em;
$p4618: 4.618em;

/* FontAwesome */
$fa-var-right-chevron: 'f054';
$fa-var-left-chevron: 'f053';



