:root {
  --womens-pink: #f2526e;
  --womens-pink-hover: #F17A97;
  --black: #000000;
  --default-darkbg: #2b343d;
  --btn-color: #000000;
  --event-details: #6b6b6b;
  --polls-nav: #000000;
  --white: #ffffff;
  --dark-white: #f5f5f5;
  --btn-padding: 1em;
  --btn-hover-black: #292929;
  --red: #a01624;
  --red-hover: #CD1624;
  --tfs-orange: #d75301;
  --dark-gray: #2e3842;
}
